<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>sk.dejavu.jersey.sample.MyApplication</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>sk.dejavu.jersey.sample.MyApplication</param-value>
        </init-param>

        <!-- Imdb client configuration -->
        <init-param>
            <param-name>sk.dejavu.jersey.sample.ImdbClient.configClass</param-name>
            <param-value>sk.dejavu.jersey.sample.ManagedClientConfig</param-value>
        </init-param>
        <init-param>
            <param-name>sk.dejavu.jersey.sample.ImdbClient.inheritServerProviders</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>sk.dejavu.jersey.sample.ImdbClient.property.format</param-name>
            <param-value>xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sk.dejavu.jersey.sample.MyApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
